/* *{
border: solid black 1px;

} */



.contenedorTablita{

    height: 100%;
    width: 70%;
}

.tablaOd{
    
    
    
    /* border: solid red 3px; */
    background-image: url("../images/PlanillaMediaResol.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 62%; */
    margin-top: 20px;
    /* width: 42vw; */
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
    
}

.fondo{

    background-image: url("../images/2149443493.jpg");
    
    background-size: cover;
    height: 100vh;
    
}

.listaOdEncima{
    position: absolute;
    left: 1rem;
    top: 100px;
}

.posicionarPlanilla{
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    
    
}

/* @media  (max-width: 493px){


.tablaOd{
    height: max-content; 
    /* width: 100;    */
    



