/* *{
border: solid black 1px;

} */

.fondo {
  background-image: url("../images/2149443493.jpg");

  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  height: 100vh;
}

.tablaOd {
  background-image: url("../images/PlanillaMediaResol.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  border: solid black 3px;

  height: 100%;
}


@media (min-width: 0px) and (max-width:768px){
 

  .contenedorTablita {
    padding-top: 20px;    
    height: 80vh;
  }

  .tituloTablita {
    font-size: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 70px;
  }

  .posicionRegistros {
    position: relative;
    top: 80px;
    
  }

  .btnRegistrarHeader{
    width: 62%;
    position: relative;
    align-self: center;
    font-size: 14px;
  }

  .headerTablita{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  table {
    
    font-size: 8px;
    max-height: 430px; /* Establece la altura máxima según tus necesidades */
    overflow-y: auto; /* Permite el desbordamiento vertical */
  }
  
}



@media (min-width: 769px) and (max-width: 990px){

  
  .tituloTablita {
    font-size: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 70px;
  }

  .posicionRegistros {
    position: relative;
    top: 80px;
    
  }

  .btnRegistrarHeader{
    width: 62%;
    position: relative;
    align-self: center;
    font-size: 14px;
  }



  table {
    font-size: 25px;
    max-height: 510px; /* Establece la altura máxima según tus necesidades */
    overflow-y: auto; /* Permite el desbordamiento vertical */
  }
  .contenedorTablita {
    height: 90vh;
  }

}




















@media (min-width: 991px) and (max-width:1200px){
 
  .btnRegistrarHeader{
    width: 62%;
    position: relative;
    align-self: center;
  }

  .contenedorTablita {
    height: 85vh;
  }
  .headerTablita{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .posicionRegistros {
    position: relative;
    top: -34px;

    
  }
  .listadoOdontologos{
    display: flex;
    justify-content: center;
  }


  .tituloTablita {
    font-size: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    top: -34px;
  }
  table {
    font-size: 16px;
    max-height: 410px; /* Establece la altura máxima según tus necesidades */
    overflow-y: auto; /* Permite el desbordamiento vertical */
  }
  
}

@media (min-width:1501px){
  .posicionRegistros {
    position: relative;
    top: -4px;
    
  }
  .tituloTablita {
    font-size: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    top: -4px;
  }

  table {
    font-size: 18px;
    max-height: 410px; /* Establece la altura máxima según tus necesidades */
    overflow-y: auto; /* Permite el desbordamiento vertical */
  }
}