/* *{
border: solid black 1px;

} */



.contenedorTablita{

    height: 100%;
    width: 70%;
}

.tablaOd{
    
    
    /* display: flex;
    justify-content: center; */
    border: solid red 3px;
    background-image: url("../images/PlanillaMediaResol.png");
    background-size: contain;
    background-repeat: no-repeat;
    /* height: 62%; */
    margin-top: 20px;
    width: 42vw;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
    
}

.fondo{

    background-image: url("../images/2149443493.jpg");
    
    background-size: cover;
    height: 100vh;
    
}
h1{
    font-size: 1rem;
}


.posicionarPlanilla{
    /* position: relative; */
    display: flex;
    justify-content: center;
    height: 100vh;
    /* height: 100vh; */
      
}

.listadoOdontologo{
    margin-top: 190px;
}

    



