/* *{
    margin: 0 auto;
    padding: 0px;
} */

.fondo{

    background-image: url("../images/view-international-worker-s-day-still-life.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 100vh;
    border: solid black 3px;
    /* width: 80%; */
}
/* .contenedor{
    height: 500px;
    width: 500px;
} */