
@import url('stylesListOd.css');



.fondo {
  background-image: url("../images/_39f2251f-2f14-4f70-a183-986baf460412.jpeg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  
}






