@import url('stylesListOd.css');
.fondo{

    background-image: url("../images/view-international-worker-s-day-still-life\ \(1\).jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 89.6vh;
    border: solid black 1px;
    /* width: 80%; */
}

